
.students {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  .students td,  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .students tr:nth-child(even){background-color: #f2f2f2;}
  
  .students tr:hover {background-color: #ddd;}
  
  .students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .btn{
    transition: transform 0.2s ease 0s;
  
    background: rgb(24, 198, 131) !important;
    display: block;
    margin: 10px auto;
    color: #fff;
    text-shadow: none;
    border-radius: 10em;
    font-size: 1rem;
    min-height: 1em;

  
}


  